*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ac0303c9;
}

.pizza-name{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.slider {
  position: relative;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-sizing: border-box;
  /* box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green; */
}

.pizza-name-box{
  /* width: fit-content; */
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 10px #880000;
}

.price-nd-size{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

}

.right-arrow {
  position: absolute;
  top:50%;
  right:0px;
  font-size: 4rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.2;
}

.right-arrow:hover{
  color: #f79c06;
  opacity: 1;
}


.left-arrow {
  position: absolute;
  top:50%;
  left:0px;
  font-size: 4rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.2;
}

.left-arrow:hover{
  color: #f79c06;
  opacity: 1;
}


.buttons{
    margin-top: 100px;
    display: flex;
    gap: 40px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  height: 300px;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.cartCount{
  color: white;
}

.cartIconCartCount{
  display: flex;
}


.cartBox{
  width: 900px;
  height:600px;
  overflow: scroll;
  background-color: wheat;
  margin: 20px auto;
  display: none;
}


.pizzaImageDetail{
    background: wheat;
    width: 340px;
    height: 335px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    grid-gap: 1px;
    grid-gap: 1px;
    gap: 1px;
    margin: 25px;
    border-radius: 50px;
}

.cartPizzaDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 265px;
}

.removeFromCartBttn{
    background: black;
    color: white;
    border-radius: 5px;
    width: 75px;
    height: 35px;
}

.removeFromCartBttn:hover{
    background: crimson;
}

.cartImg{
    width: 215px;
    height: 201px;
}

.emptyCartMsz{
    margin: 10px auto;
    width: 200px;
    height: fit-content;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}

.placeOrderBttn{
    background: black;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-left: 10px;
}

.placeOrderBttn:hover{
  background:rgb(38, 182, 2) ;
}

.cartItemsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizzaDetailDiv{
    display: flex;
    /* width: 78%; */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.priceNdOrderBttn{
  display: flex;
  justify-content: center;
}

.totalPrice{
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 20px;
    text-decoration: underline;
}